#!/bin/sh

. ~/.zshenv

set-wallpaper
xrdb -load ~/.config/x11/xresources
[ -s $(pidof mpd) ] && mpd
[ -s $(pidof transmission-daemon) ] && exec transmission-daemon &
exec light-locker &
exec xautolock -secure -time 10 -locker locker &
exec dunst &
rm $HOME/.xsession-errors
