#!/bin/sh

[ ! -s ~/.config/mpd/pid ] && mpd
xrandr -s 1680x1050
set-wallpaper
xrdb -load ~/.config/x11/xresources
exec xautolock -secure -time 10 -locker slockcow &
exec dwmblocks &
exec status-musicupdate &
exec dunst &
