[Desktop Entry]
Type=Application
Name=transmission
GenericName=Torrent Handler
Exec=pass-to-transmission
MimeType=x-scheme-handler/magnet;application/x-bittorrent;
NoDisplay=true
Icon=transmission
